<div>
    <!-- <input type="text" ng-model="CSC.champion_id" ng-keyup="CSC.checkForReturnKey($event)"> -->
    <!-- <button ng-click="CSC.getChampionsList(CSC.champion_id)">check</button> -->
    <input type="text" ng-model="CSC.champNameFilter.data.name" ng-keyup="CSC.checkInput()">
    <ul>
        <li ng-if="CSC.loading">loading...</li>
        <li ng-repeat="chmp in CSC.champ.data | filter:CSC.champNameFilter track by $index" ng-if="!CSC.loading">
            <strong><a href="#/champion/{{chmp.id}}">{{chmp.name}}</a></strong><br>
        </li>
    </ul>
</div>
